
$font-stack: Helvetica Neue, Arial, Helvetica, sans-serif;
$fontcolor: #4c4c4c;

html, body {
  margin: 0;
}


.wrapper {
  position: relative;
  margin: auto;
  width: 310px;
  
  p{
    font-family: $font-stack;
    color: $fontcolor;
  }

  #star_0 {
    cursor: pointer;
  }

  #star_1 {
    cursor: pointer;
  }

  #star_2 {
    cursor: pointer;
  }
  #star_3 {
    cursor: pointer;
  }
  #star_4 {
    cursor: pointer;
  }

  .logo {
    margin-right: 23px;
    margin-top: 4px;
    position: relative;
    left: 20px;
  }

  .logo-container {
    background-color: #fff;
    height: 30px;
    margin-top: 30px;
  }

  .container {
    height: 49px;
    background-color: #f6f6f6;
    border: 1px solid #c6c6c6;
    position: relative;

  }

  .graph-container {
    border-top: none;
    height: 0px;
    transition: all 0.5s ease;
    padding: 10px;
    p {
      font-size: 90%;
      margin: 0 0 5px 0;

    }

    .graph-mapping{
      background-color: #fff;
      text-align: right;
      position: absolute;
      width: 60px;
      height: 100px;
      p {
        font-size: 70%;
      }
    }
  }

  .arrow-container {
    position: absolute;
    width: 20px;
    cursor: pointer;
    bottom: 0;
    left: calc(50% - 10px);
  }

  .arrow-container-retina {
    position: absolute;
    width: 20px;
    cursor: pointer;
    bottom: 0;
    left: calc(50% - 5px);
  }

  .graph-container-expand {
    height: 140px;
  }

  #caption {
    display: none;
  }

  .graph-position {
    position: absolute;
    right: 10px;
  }

  #rating {
    margin-left: 10px;
    top: 6px;
    position: relative;
  }

  h2 {
    font-family: $font-stack;
    font-size: 150%;
    color: $fontcolor;
    top: 20px;
    right: 40px;
    margin: 10px 0 0 0;
    display: inline-block;
    margin-right: 5px;
  }



  .average-score {
    height: 49px;
    width: 100px;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;

    p {
      color: $fontcolor;
      font-size: 60%;
      font-family: $font-stack;
      display: inline-block;
    }
  }

  .review-container {
    display: none;
    position: absolute;
    left: -290px;
    top: 30px;
    width: 264px;
    background-color: #f6f6f6;
    border: 1px solid #c6c6c6;
    padding: 10px;

    .btn {
      width: 100%;
      padding: 10px;
      cursor: pointer;
      color: #ffffff;
      border: 1px solid #cccccc;
      margin-top: 10px;
      background: rgb(115,179,67); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(115,179,67,1) 0%, rgba(87,132,59,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(115,179,67,1) 0%,rgba(87,132,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(115,179,67,1) 0%,rgba(87,132,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b343', endColorstr='#57843b',GradientType=0 ); /* IE6-9 */
    }

    .review-header {
      font-family: $font-stack;
      color: $fontcolor;
      font-size: 100%;
      margin: 5px 0 5px 0;
    }

    p {
      font-family: $font-stack;
      color: $fontcolor;
      opacity: 0.8;
      font-size: 90%;
    }

    .textbox {
      border: 1px solid #cccccc;
      padding: 3px;

    }

  }

}

